*{margin:0;
padding:0;
box-sizing:border-box;
}
body {margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #46494a;
	}
.row{display:block;}
nav ul{overflow:hidden;
	list-style-type:none;
	background-color:black;
	}
nav li{float:right;
	/*width:5%;*/
	margin-right:50px;
	}
nav li a{text-decoration:none;
	color:white;
	text-align:center;
	/*border-right:2px solid white;*/
	padding:14px 16px;
	display:block;
	font-size:12px;
	}
nav li a:hover{background-color:orange;
	font-weight:bold;
	color: #46494a;
	}
p{padding-bottom:15px;
	}
.container{background-color:white;
	margin-right:50px;
	float:right;
	width:50%;
	color:#46494a;
	border-radius:5px;	
	}
.log{background-color:#f5f0df;
	padding:20px 30px;
	text-align:center;
	border-radius:5px;
}
#dugmence{width:100%;
	background-color:orange;
	color:white;
	border:none;
	padding:20px 30px;
	border-radius:5px;
	}
#menja{background-image:url("cetvrta.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height: 250px;
	width: 500px;
	margin-right:50px;
	}
#menja:hover{/*opacity:0.5;*/
	background-image:url("peta.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	width:500px;
	height: 250px;
	margin-right:50px;
	
	/* width: [IMAGE_WIDTH_IN_PIXELS]px;
	height: [IMAGE_HEIGHT_IN_PIXELS]px;*/
	}
#sivi{background-color:#f5f0df;
	height:400px;
	padding-top:50px;
	padding-left:50px;
	}
#sivi1{background-color:#f5f0df;
	height:350px;
	padding-top:50px;
	padding-left:50px;
	
	}
#sivi2{background-color:#f5f0df;
	height:600px;
	text-align:center;
	padding-top:50px;
	padding-left:50px;
	}
#sub{padding-top:50px;
	padding-left:50px;
	height:400px;
	margin-right:50px;
	}
#soc{padding-left:50px;
	}
#pozadina{background-image:url("sesta1.jpg");
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*width:100%;*/
	min-height:300px;
	text-align:center;
	color:white;
	}
#naslovpozadina{text-align:center;
	color:white;
	padding-top:20px
	}
.dugme {background-color: transparent;
	border: 2px solid white;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size:15px;
	margin-top:100px;
	}
.dug{background-color: orange;
	border:none;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size:15px;
	border-radius:10px;
	}
.dug:hover{background-color: #46494a;
	}
#potvrdi{clear:both;
	
}	
#slika{background-image:url('prva.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height:500px;
	padding-left:50px;
	color:white;
	}
.col-2 ul{list-style-type:none;
	margin-top:10px;
	padding-left: 20px;
	}
.col-2 li a{text-decoration:none;
	background-color: #46494a;
	color:white;
	display:block;
	margin-bottom:5px;
	padding:20px;
	
	}
.col-2 li a:hover{background-color:orange;
	transform: scale(0.95);
	}
.row:before,
.row:after{clear:both;
	display:table;
	content:"";
	}

input[type=text] {
	width: 50%;
	padding: 0px 20px;
	margin: 20px 0;
	/* box-sizing: border-box;*/
	border: none;
	border-bottom: 2px solid grey;
	}
input[type=password]{
	width: 50%;
	padding: 0px 20px;
	margin: 20px 0;
	/* box-sizing: border-box;*/
	border: none;
	border-bottom: 2px solid grey;	
	}
input[type=email]{
	width: 50%;
	padding: 0px 20px;
	margin: 20px 0;
	/* box-sizing: border-box;*/
	border: none;
	border-bottom: 2px solid grey;
	}
textarea{
	width: 50%;
	padding: 0px 20px;
	margin: 20px 0;
	/* box-sizing: border-box;*/
	border: none;
	border-bottom: 2px solid grey;
	resize:none;
	}
#kontakt{text-align:center;
	height:400px;
	margin-top:50px;
	}
#karus{text-align:center;
	padding-left:50px;
	height:300px;
	margin-top:30px;
	}
#beli{text-align:center;
	padding-left:50px;
	padding-top:50px;
	height:400px;
	}
#net, .social{display: inline;
    padding: 20px 30px ;
    color: #46494a;
	}
.model, .cena{background-color:#46494a;
	width:75%;
	color:white;
	}	
.model1{background-color:white;
	width:75%;
    font-size: 1em;
    line-height: 1.5em;
    color: #46494a;
    border-bottom: 1px solid rgba(204,204,204,.4);
	}
.razmak{background-color:#f5f0df;
	height:3px;
	width:75%;
	}
.razmak1{background-color:orange;
	height:5px;
	width:75%;
	}
.foot{background-color:black;
	/*height:50px;*/
	text-align:center;
	padding-top: 5px;
	}
/*footer .foot{position: fixed;
    bottom: 0;
    margin: 0;
    padding: 10px;
	width:100%;
    }*/
#ax{padding-top: 5px;
    font-size: 10px;}
/*#leva{float:left;
	position:relative;
	margin-right:40px
	}*/
#desna{position:relative;
	padding-top:100px;
	float:left;
	}
.razmak2{background-color:orange;
	height:35px;
	width:75%;
	color:white;
	}
/*.cena1{font-size}*/
.col-1{width:8.33%;
	float:left;
	padding:15px;}
	.col-2{width:16.66%;
	float:left;
	padding:15px;}
	.col-3{width:25%;
	float:left;
	padding:15px;}
	.col-4{width:33.33%;
	float:left;
	padding:15px;}
	.col-5{width:41.66%;
	float:left;
	padding:15px;}
	.col-6{width:50%;
	float:left;
	padding:15px;}
	.col-7{width:58.3%;
	float:left;
	padding:15px;}
	.col-8{width:66.66%;
	float:left;
	padding:15px;}
	.col-9{width:75%;
	float:left;
	padding:15px;}
	.col-10{width:83.33%;
	float:left;
	padding:15px;}
	.col-11{width:91.66%;
	float:left;
	padding:15px;}
	.col-12{width:100%;
	float:left;
	padding:15px;}
	
	
	@media screen and (max-width: 600px) {
  footer,.col-6, .col-4,.col-5,.col-2,.col-7,nav li, input[type=text],input[type=password],input[type=email]
  ,textarea{
    width: 100%;
    margin-top: 0;
	float:left;
	display:block;
	}
	}
	
